@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Finlandica:wght@400;500;600;700&family=Nunito:wght@400;600;700;800&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #F97316;
  --color-primary-600: #EA580C;
  --color-primary-700: #C2410C;
  
  --font-sans: "Finlandica", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Roboto", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* 15% opacity white - very faint gray against black */
  background: rgba(255, 255, 255, 0.15); 
  border-radius: 10px;
}

/* Becomes solid primary color on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary); 
}

/* Styling for selected text */
::selection {
  background: transparent; /* Makes the highlight box invisible */
   color: #7315cb; 

}

/* Fallback for older versions of Firefox */
::-moz-selection {
  background: transparent;
  color: #7315cb; 
}